{%- include "delegate/open.java.tera" -%}
{%- if is_async -%}
{%- include "delegate/reads_async.java.tera" -%}
{%- include "delegate/writes_async.java.tera" -%}
{%- include "delegate/queries_async.java.tera" -%}
{%- else -%}
{%- include "delegate/reads_sync.java.tera" -%}
{%- include "delegate/writes_sync.java.tera" -%}
{%- include "delegate/queries_sync.java.tera" -%}
{%- endif -%}
{%- include "delegate/streams.java.tera" -%}
{%- include "delegate/read_ops.java.tera" -%}
{%- include "delegate/write_ops.java.tera" -%}
{%- include "delegate/query_ops.java.tera" -%}
