{%- include "dsl/open.java.tera" -%}
{%- include "dsl/where.java.tera" -%}
{%- include "dsl/selection.java.tera" -%}
{%- include "dsl/vector.java.tera" -%}
{%- include "dsl/nested.java.tera" -%}
{%- include "dsl/inputs.java.tera" -%}
{%- include "dsl/args.java.tera" -%}
{%- include "dsl/aggregates.java.tera" -%}
