"""Generated composite types."""

from __future__ import annotations

import sys
from typing import List, Optional

if sys.version_info >= (3, 12):
    from typing import TypedDict
else:
    from typing_extensions import TypedDict


{%- for ctype in composite_types %}


class {{ ctype.name }}(TypedDict):
    """{{ ctype.name }} composite type."""

{%- for f in ctype.fields %}
    {{ f.name }}: {{ f.python_type }}
{%- endfor %}
{%- endfor %}


__all__ = [
{%- for ctype in composite_types %}
    "{{ ctype.name }}",
{%- endfor %}
]
