"""Generated composite types."""

from __future__ import annotations

from typing import List, Optional, TypedDict


{%- for ctype in composite_types %}


class {{ ctype.name }}(TypedDict):
    """{{ ctype.name }} composite type."""

{%- for f in ctype.fields %}
    {{ f.name }}: {{ f.python_type }}
{%- endfor %}
{%- endfor %}


__all__ = [
{%- for ctype in composite_types %}
    "{{ ctype.name }}",
{%- endfor %}
]
