{% include "delegate/nested_input.tera" -%}
{% include "delegate/write_input.tera" -%}
{% include "delegate/aggregate_input.tera" -%}
{% include "delegate/aggregate_output.tera" -%}
{% include "delegate/aggregate_decode.tera" -%}
{% include "delegate/write_filter.tera" -%}
{% include "delegate/state.tera" -%}
{% include "delegate/read.tera" -%}
{% include "delegate/projection.tera" -%}
{% include "delegate/stream.tera" -%}
{% include "delegate/create.tera" -%}
{% include "delegate/create_many.tera" -%}
{% include "delegate/update.tera" -%}
{% include "delegate/delete.tera" -%}
{% include "delegate/delete_many.tera" -%}
{% include "delegate/count.tera" -%}
{% include "delegate/update_many.tera" -%}
{% include "delegate/delete_many_count.tera" -%}
{% include "delegate/aggregate.tera" -%}
{% include "delegate/upsert.tera" -%}
}
