package {{ package_name }}.events;

import java.lang.annotation.ElementType;
import java.lang.annotation.Retention;
import java.lang.annotation.RetentionPolicy;
import java.lang.annotation.Target;

@Retention(RetentionPolicy.RUNTIME)
@Target(ElementType.METHOD)
public @interface OnUpdate {
    Class<?> value();
    EventPhase phase() default EventPhase.BEFORE;
    int priority() default 0;
}
