{%- if not is_view %}
    public {{ model_name }} create(Consumer<{{ dsl_name }}.CreateInput> spec) {
        {{ dsl_name }}.CreateInput input = new {{ dsl_name }}.CreateInput();
        if (spec != null) {
            spec.accept(input);
        }
        return createInternal(input);
    }
{% endif %}

{%- if not is_view %}
    public {{ model_name }} create({{ dsl_name }}.CreateInput data) {
        return createInternal(data == null ? new {{ dsl_name }}.CreateInput() : data);
    }
{% endif %}

{%- if not is_view %}
    public List<{{ model_name }}> createMany(List<{{ dsl_name }}.CreateInput> data) {
        return createManyInternal(data);
    }
{% endif %}

{%- if not is_view %}
    public List<{{ model_name }}> update(Consumer<{{ dsl_name }}.UpdateArgs> spec) {
        {{ dsl_name }}.UpdateArgs args = new {{ dsl_name }}.UpdateArgs();
        if (spec != null) {
            spec.accept(args);
        }
        return updateInternal(args);
    }
{% endif %}

{%- if not is_view %}
    public {{ model_name }} delete(Consumer<{{ dsl_name }}.DeleteArgs> spec) {
        {{ dsl_name }}.DeleteArgs args = new {{ dsl_name }}.DeleteArgs();
        if (spec != null) {
            spec.accept(args);
        }
        return deleteInternal(args);
    }
{% endif %}

{%- if not is_view %}
    public long deleteMany(Consumer<{{ dsl_name }}.DeleteArgs> spec) {
        {{ dsl_name }}.DeleteArgs args = new {{ dsl_name }}.DeleteArgs();
        if (spec != null) {
            spec.accept(args);
        }
        return deleteManyInternal(args);
    }
{% endif %}

{%- if not is_view %}
    public long updateMany(Consumer<{{ dsl_name }}.UpdateArgs> spec) {
        {{ dsl_name }}.UpdateArgs args = new {{ dsl_name }}.UpdateArgs();
        if (spec != null) {
            spec.accept(args);
        }
        return updateManyInternal(args);
    }
{% endif %}

