{% if has_vector_fields %}
VectorMetric = Literal["l2", "innerProduct", "cosine"]
{{ model_name }}VectorFieldKeys = Literal[{% for name in vector_field_names %}"{{ name }}"{% if not loop.last %}, {% endif %}{% endfor %}]


class {{ model_name }}NearestInput(TypedDict):
    """Nearest-neighbor search options for pgvector fields."""
    field: {{ model_name }}VectorFieldKeys
    query: {% if has_vector_extension %}VectorInput{% else %}List[float]{% endif %}
    metric: VectorMetric


{% endif %}

class {{ model_name }}WhereInput(TypedDict, total=False):
    """Filter conditions for {{ model_name }} queries."""
    {% for field in where_input_fields %}
    {% if field.where_python_type %}
    {{ field.name }}: NotRequired[{{ field.where_python_type }}]
    {% elif field.is_vector %}
    {{ field.name }}: NotRequired[Union[List[float]{% if field.is_nullable %}, None{% endif %}, VectorFilter]]
    {% elif field.python_type == "str" %}
    {{ field.name }}: NotRequired[Union[str{% if field.is_nullable %}, None{% endif %}, StringFilter]]
    {% elif field.python_type == "int" %}
    {{ field.name }}: NotRequired[Union[int{% if field.is_nullable %}, None{% endif %}, IntFilter]]
    {% elif field.python_type == "float" %}
    {{ field.name }}: NotRequired[Union[float{% if field.is_nullable %}, None{% endif %}, FloatFilter]]
    {% elif field.python_type == "Decimal" %}
    {{ field.name }}: NotRequired[Union[Decimal{% if field.is_nullable %}, None{% endif %}, DecimalFilter]]
    {% elif field.python_type == "datetime" %}
    {{ field.name }}: NotRequired[Union[datetime{% if field.is_nullable %}, None{% endif %}, DateTimeFilter]]
    {% elif field.python_type == "UUID" %}
    {{ field.name }}: NotRequired[Union[UUID{% if field.is_nullable %}, None{% endif %}, UuidFilter]]
    {% elif field.python_type == "bool" %}
    {{ field.name }}: NotRequired[Union[bool{% if field.is_nullable %}, None{% endif %}, BoolFilter]]
    {% elif field.python_type == "JsonValue" %}
    {{ field.name }}: NotRequired[Union[JsonScalarOrArray, JsonFilter]]
    {% elif field.python_type == "HstoreValue" %}
    {{ field.name }}: NotRequired[{% if field.is_nullable %}Union[None, HstoreFilter]{% else %}HstoreFilter{% endif %}]
    {% else %}
    {{ field.name }}: NotRequired[{% if field.is_nullable %}Optional[{{ field.python_type }}]{% else %}{{ field.python_type }}{% endif %}]
    {% endif %}
    {% endfor %}
    AND: NotRequired[Union[{{ model_name }}WhereInput, List[{{ model_name }}WhereInput]]]
    OR: NotRequired[Union[{{ model_name }}WhereInput, List[{{ model_name }}WhereInput]]]
    NOT: NotRequired[Union[{{ model_name }}WhereInput, List[{{ model_name }}WhereInput]]]


class {{ model_name }}CreateInput(TypedDict{% if create_input_fields %}, total=False{% endif %}):
    """Input data for creating a {{ model_name }}."""
    {% for field in create_input_fields %}
    {% if field.is_required %}
    {{ field.name }}: Required[{{ field.python_type }}]
    {% else %}
    {{ field.name }}: NotRequired[{{ field.python_type }}]
    {% endif %}
    {% endfor %}


class {{ model_name }}UpdateInput(TypedDict, total=False):
    """Input data for updating a {{ model_name }}."""
    {% for field in update_input_fields %}
    {% if field.operator_type %}
    {{ field.name }}: NotRequired[Union[{{ field.python_type }}, {{ field.operator_type }}]]
    {% else %}
    {{ field.name }}: NotRequired[{{ field.python_type }}]
    {% endif %}
    {% endfor %}


{% if has_dotted_order_by_fields %}
{{ model_name }}OrderByInput = TypedDict(
    "{{ model_name }}OrderByInput",
    {
    {% for field in order_by_fields %}
        "{{ field.name }}": NotRequired[Literal["asc", "desc"]],
    {% endfor %}
    },
    total=False,
)
{% else %}
class {{ model_name }}OrderByInput(TypedDict, total=False):
    """Ordering options for {{ model_name }} queries."""
    {% for field in order_by_fields %}
    {{ field.name }}: NotRequired[Literal["asc", "desc"]]
    {% endfor %}
{% endif %}


class {{ model_name }}SelectInput(TypedDict, total=False):
    """Scalar field projection for {{ model_name }} queries."""
    {% for field in scalar_fields %}
    {{ field.name }}: NotRequired[bool]
    {% endfor %}

